<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{title}} - microblog</title>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous"> -->
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>     -->
  <!-- JavaScript Bundle with Popper -->
    <!-- CSS only -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script> -->
  </head>
  <body>
    <header class="header">
      <div class="header__container">
          <a href="#" class="header__logo">
              <img src="#">
          </a>
          <div class="header__menu menu">
              <div class="menu__icon">
                  <span></span>
              </div>
              <nav class="menu__body">
                  <ul class="menu__list">
                      <li>
                          <a href="#" class="menu__link">Лента новостей</a>
                      </li>
                      <li><a data-goto=".page__section_2" href="" class="menu__link">Избранное</a></li>
                      
                      <li>
                          <a  href="/create_post" class="menu__link">Создание поста</a>
                      </li>


                  </ul>
              </nav>
          </div>
      </div>
  </header>

    {%for post in posts%}
    <div class="section-outer">
      <div class="section-inner">
        <div class="card">
          <div class="image">
            <div class="title_image">
              <p>{{post.name_post}}</p>
            </div>
            <div class="image_image">
              <img src="{{post.image}}" />
            </div>
            <div class="image_like">             
              <span class="like_color">&#10084;</span>
              <span>{{post.like_count}}</span>
            </div>
          </div>
          <div class="info">
            <div class="title">
              <p>{{post.name_post}}</p>
            </div> -->
            <div class="comments">
              {%for comment in post.comments%}
              <div class="one_comment">
                <div class="comment_image">
                  <img
                    src="https://avatars.mds.yandex.net/i?id=60d0391dc5bcbb06d255eb50c0ecd56900ddbbef-5987336-images-thumbs&n=13"
                    class="picture"
                  />
                </div>
                <div class="comment_feed">
                  <span>{{comment}}</span>
                </div>
              </div>
              {%endfor%}
            </div>
          </div>
        </div>
      </div>
    </div>
    {%endfor%}
    <!--





    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="text-center">Comments</h2>
        </div>
        <div class="col-lg-6">
          <div id="comment-field"></div>
        </div>
        <div class="col-lg-6">
          <form>
            <div class="form-group">
              <label for="comment-name">Name:</label>
              <input type="text" class="form-control" id="comment-name"  placeholder="Введите имя">
            </div>
            <div class="form-group">
              <label for="comment-body">Comment:</label>
              <textarea type="password" class="form-control" id="comment-body" placeholder="Комментарий"></textarea>
            </div>
            <div class="form-group form-check text-right">
              <button type="submit" id="comment-add" class="btn btn-primary">Отправить</button>
            </div>
          </form> -->
        <!-- </div>
      </div>
    </div> -->
    <script src="{{url_for('static', filename='js/like.js')}}"></script>
  </body>
</html>
