<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{title}} - microblog</title>
</head>
  <body>
    {%for i in range(0, 3)%}
    <div class="section-outer">
      <div class="section-inner">
    <div class="card">
      <div class="image">
        <img src="{{ url_for('static', filename='images/mem1.png') }}" class="picture">
      <div class="likes">
        <div class="like">
          <img src="{{ url_for('static', filename='images/like.png') }}">
          <span>20</span>
        </div>
        <div class="like">
          <img src="{{ url_for('static', filename='images/dislike.png') }}">
          <span>10</span>
        </div>
      </div>
      </div>
      <div class="info">
        <div class="title">
          <p>Когда ушёл после 9 класса</p>
        </div>
      <div class="comments">
        {%for i in range(0, 3)%}
        <div class="one_comment">
          <div class="comment_image">
            <img src="https://avatars.mds.yandex.net/i?id=60d0391dc5bcbb06d255eb50c0ecd56900ddbbef-5987336-images-thumbs&n=13" class="picture">
          </div>
          <div class="comment_feed">
            <span>Рили ржака OMG</span>
          </div>
        </div>
        {%endfor%}
      </div>

      </div>
    </div>
  </div>
</div>
{%endfor%}
  </body>
</html>