{% extends 'base.html' %}

{% block content %}
{{ super() }}
<div class="section-outer">
    <div class="section-iiner">
        {% for cat, msg in get_flashed_messages(True) %}
        <div class="flash {{cat}}">{{msg}}</div>
        {% endfor %}

        <div class="input-block">
            <h1>Текст мема</h1>
            <form id="brise-form" action="/create_post" method="post" enctype="multipart/form-data">
                <div class="wrap-line">
                    <div class="brise-input">
                        <input type="text" placeholder="Введите название поста" name="title">
                        <span class="line"></span>
                    </div>
                </div>
                <div class="brise-upload">
                    <label>
                        <input type="file" name="file" accept="">
                        <span class="label">Upload file</span>
                    </label>
                </div>
                <button type="submit" value="Создать" class="brise-btn">Submit</button>
            </form>
		</div>
	</div>
</div>
{% endblock %}
