{% extends 'base.html' %}

{% block content %}
{{ super() }}

<div class="section-outer">
  <div class="section-inner">
    <div class="profile_container">
      <div class="profile_image">
        <img
        src="https://adonius.club/uploads/posts/2022-01/1642372885_80-adonius-club-p-memi-na-zelenom-fone-90.jpg"
        class="profile_picture"
      />
      </div>
      <div>
      <div class="profile_all_info">
        <div class="profile_info">
          <div class="profile_left">ID пользователя:</div>
          <div class="profile_right">{{user[0]}}</div>
        </div>
        <div class="profile_info">
          <div class="profile_left">Имя пользователя:</div>
          <div class="profile_right">{{user[1]}}</div>
        </div>
        <div class="profile_info">
          <div class="profile_left">Дата регистрации:</div>
          <div class="profile_right">{{user[2]}}</div>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="profile_exit">
    <p>
      <a href="{{url_for('logout')}}">Выйти из профиля</a>
    </p>
  </div>
</div>
</div>
</div>


{%for i in range(count)%}
<div class="section-outer">
  <div class="section-inner">
    <div id="const_card" class="const_card card" post_id="{{posts[i][0]}}">
      <div class="image">
        <div class="close_and_time">
		<div class="time">
			<p>{{times[i]}}</p>
		</div>
          <div class="close">
            <button class="cl-btn-7" onclick="delete_post({{ posts[i][0] }})"></button>
          </div>

        </div>

        <div class="title_image">
          <!-- Заголок мема -->
          <p>{{posts[i][1]}}</p>
        </div>
        <div class="title_image">
          <!-- Дата публикации мема -->
        </div>
        <div class="image_image">
          <img src="{{posts[i][3]}}">
        </div>

        <div class="author_and_like">
          <div class="title_image">
            <p>{{posts[i][4]}}</p>
          </div>
          <div class="image_like">
            <button class="heart  {% if liked_by_user[i] != 0 %} added {% endif %}" type="button"
              post_id="{{posts[i][0]}}"><span class="likes-number">{{likes[i]}}</span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%endfor%}


<script src="{{url_for('static', filename='js/delete_post.js')}}"></script>
{% endblock %}
