{% extends 'base.html' %}

{% block content %}
{{ super() }}
<div class="section-outer">
    <div class="section-iiner">
        {% for cat, msg in get_flashed_messages(True) %}
        <div class="flash {{cat}}">{{msg}}</div>
        {% endfor %}

        <div class="input-block">
            <h1>Создание мема</h1>
            <form id="brise-form" action="/reg" method="post">
                <div class="wrap-line">
                    <div class="brise-input">
                        <input type="text" placeholder="Введите имя пользователя" name="username">
                        <span class="line"></span>
                    </div>
                </div>
                <div class="wrap-line">
                    <div class="brise-input">
                        <input type="password" placeholder="Введите пароль" name="pwd">
                        <span class="line"></span>
                    </div>
                </div>
				<div class="wrap-line">
                    <div class="brise-input">
                        <input type="password" placeholder="Введите пароль ещё раз" name="pwd_ag">
                        <span class="line"></span>
                    </div>
                </div>
                <button type="submit" value="Создать" class="brise-btn">Submit</button>
            </form>
		</div>
	</div>
</div>
{% endblock %}
